body {

  height: 100%;
  margin: 0;
}

h1 {text-align: center;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  font-weight: bold;
  text-align: center; 
}

nav > a {
  padding-right: 10px;
  padding-left: 10px;
  color: brown;
}

figcaption {
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  width: 100%;
}

#details > div {
  margin: auto;
  float: left;
  text-align: center;
  background-color: brown;
  width: 25%;

}